<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="top.murphypen.studyandroid.activity">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".boot.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".view01.SIntent">
            <intent-filter>
                <action android:name="android.intent.action.sintent" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".view01.SHidIntent">
            <intent-filter>
                <action android:name="android.intent.action.SHidIntent" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".base.BaseActivity" />
        <activity android:name=".view01.MyWebSite">
            <intent-filter>
                <action android:name="android.intent.action.WEB_SEARCH" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="http" />
            </intent-filter>
        </activity>
        <activity android:name=".View02.ActivityLife" android:launchMode="singleInstance" />
        <activity
            android:name=".View02.NormalActivity"
            android:launchMode="standard" />
        <activity
            android:name=".View02.DialogActivity"
            android:theme="@style/Theme.AppCompat.Dialog"></activity>
    </application>

</manifest>